/* =============================================== */
/* BASIC SETUP  */
/* =============================================== */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&display=swap');

*::after,
*::before,
* {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'AR One Sans', 'Roboto+Mono', 'Sono', Arial, Helvetica, sans-serif;

    --black_color: #000;
    --white_color: #fff;
    --black_text: #333;
    --white_text: #f5f5f5;
    --snow_white_color: #fffafa;
    --gray_color: #c0c0c0;
    --light_gray_color: #eeeeee;
    --dark_gray_color: #808080;
    --primary_color: #ff6449;
    --light_primary_color: #f5715a;
    --light_green_color: #1bff14;
    --green_color: #32de84;
    --dark_green_color: #03c04a;
    --light_red_color: #f13e23;
    --red_color: #ff2400;
    --dark_red_color: #cc0000;
    --yellow_color: #ffc72c;
    --light_yellow_color: #ffd700;
    --dark_yellow_color: #febe10;
    --blue_color: #00bfff;
    --light_blue_color: #3ecfff;
    --dark_blue_color: #add8e6;
    --soft_dark_blue_color: #b0e0e6;

    --footer_bg_color: #dcdcdcad;
    --footer_bg_hover_color: #cacacab7;

    --modal_blur_bg_color: #a29c9ca6;
    --add_edit_modal_min_width: 900px;
    --add_edit_modal_detail_inp_min_height: 250px;
    --add_edit_modal_detail_inp_max_height: 350px;
    --detail_modal_min_width: 600px;
    --detail_modal_max_width: 900px;

    --main_radial_color: radial-gradient(
        circle,
        rgba(224, 216, 47, 1) 30%,
        rgba(255, 138, 0, 1) 66%,
        rgba(229, 46, 113, 1) 100%
    );

    --card_primary_box_shadow: 0.4em 0.4em 0.8em 0.1em rgba(0, 0, 0, 0.36);
    --card_secondary_box_shadow: 0.26em 0.26em 0.36em 0.1em rgba(0, 0, 0, 0.26);
}

a {
    text-decoration: none;
}

path {
    fill: currentColor;
}

svg {
    font-size: 1rem;
    height: 3.6rem;
    aspect-ratio: 1 / 1;
}

ul {
    list-style: none;
}

@keyframes appear {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: flex;
    }
}

@keyframes vanish {
    from {
        opacity: 1;
        display: flex;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes zoomInAppear {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes zoomInDisappear {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.2);
    }
}

body {
    position: relative;
}

/* =============================================== */
/* SECTION SETUP  */
/* =============================================== */
.app {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 1.5fr 10fr 0.5fr;
    z-index: 10;
}

/* =============================================== */
/* NAVBAR SETUP  */
/* =============================================== */
.navBar {
    grid-column: 1 / 3;
    grid-row: 1 /2;

    /* background-color: var(--primary_color); */
    background: var(--main_radial_color);
    font-size: 1rem;
    padding: 0.8em 4em;
    position: relative;

    display: flex;
    justify-content: center;
}

.menuWrapper {
    font-size: 1rem;
    position: absolute;
    left: 4em;
    top: 0;

    height: 100%;
    display: flex;
    align-items: center;
}

.menuIcon {
    font-size: 1rem;
    padding: 0.4em;
    border: 2px solid var(--black_color);
    border-radius: 8px;

    transition-property: all;
    transition-duration: 460ms;
    transition-timing-function: ease;
}

.menuIcon:hover {
    transform: scale(1.06);
}

.logoWrapper {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: max(40px, 4.6em);
}

.logoImg {
    height: 8.6rem;
    color: var(--black_text);
}

.logoImg path {
    fill: none;
}

.logoText {
    font-size: 6.6rem;
    font-weight: 900;
    color: var(--black_text);
    margin: 0;
}

/* =============================================== */
/* SIDEBAR SETUP  */
/* =============================================== */
.sideBar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: var(--light_gray_color);
    font-size: 1rem;
    padding: 2em 4em;
    border-right: 0.25px solid var(--primary_color);

    /* overflow-y: auto; */
    overflow-x: hidden;
    position: relative;
}

.sideList {
}

.sideItem {
    width: 100%;
    font-size: 1rem;
    padding: min(6%, 1em) 0;

    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: ease;

    cursor: pointer;
}

.sideItemContentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sideItemText {
    font-size: 3.6rem;
    font-weight: 300;
    color: var(--black_text);
    text-transform: capitalize;

    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: ease;
}

.sideItemNumber,
.projectItemNumber {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white_text);
    background-color: var(--light_primary_color);
    padding: 0.26em 0.4em;
    border-color: transparent;
    border-radius: 26px;

    transition-duration: 360ms;
    transition-property: all;
    transition-timing-function: ease;
}

.sideItem:hover .sideItemNumber,
.sideProjectItem:hover .projectItemNumber {
    background-color: var(--primary_color);
    color: var(--white_color);
}

.sideProjectList {
    min-height: 140px;
    max-height: 260px;
    font-size: 1rem;

    margin-top: min(10px, 1.4em);
    margin-left: 1.6em;
    margin-right: -4em;

    overflow: auto;
    overflow-y: overlay;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.sideProjectItem {
    font-size: 1rem;
    padding: 1.2em 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: ease;
}

.projectItemText {
    font-size: 2.4rem;
    color: var(--black_text);
    text-transform: uppercase;

    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: ease;
}

.projectItemNumber {
    font-size: 1.66rem;
    margin-right: 2em;
}

.sideBtnWrapper {
    position: absolute;
    bottom: 2em;
    font-size: 1rem;
    padding: 0.6em;

    border: 3px solid var(--black_color);
    border-radius: 16px;
    background-color: var(--primary_color);
    box-shadow: 0.46em 0.46em 1.6em var(--black_text);
    cursor: pointer;

    transition-property: all;
    transition-duration: 800ms;
    transition-timing-function: ease-in;
}

.sideBtnIcon {
    height: 4.6rem;
    color: var(--snow_white_color);
    transform: rotate(0);

    transition-property: all;
    transition-duration: 360ms;
    transition-timing-function: ease-in-out;
}

.sideBtnTitle {
    position: absolute;
    top: 66%;
    left: 60%;

    width: max-content;
    display: none;

    color: var(--white_text);
    font-size: 1.66rem;
    font-weight: 600;
    padding: 0.36em 0.6em;
    background-color: var(--dark_gray_color);
    border-radius: 6px;
    -ms-user-select: none;
    user-select: none;
    animation: vanish 560ms ease;
}

.sideBtnAddList {
    position: absolute;
    width: max-content;
    font-size: 1rem;
    padding: 0.8em 1.6em;
    background-color: var(--snow_white_color);
    border-radius: 6px;

    top: -175%;
    left: 70%;
    z-index: 20;
    cursor: pointer;
    box-shadow: var(--card_secondary_box_shadow);

    display: none;
}

.sideBtnAddItem {
    width: 100%;
    font-size: 1.66rem;
    color: var(--black_text);
    font-weight: 500;
    padding: 0.6em 0;

    transition: all 360ms ease;
}

.sideBtnAddItem:hover {
    color: var(--primary_color);
    transform: scale(1.06);
}

.sideBtnWrapper:hover {
    border-radius: 100px;
    background-color: var(--light_primary_color);
    box-shadow: 0.2em 0.2em 1.2em var(--black_text);
}

.sideBtnWrapper:hover .sideBtnIcon {
    transform: rotate(180deg);
}

.sideBtnWrapper:hover .sideBtnTitle,
.sideBtnWrapper:hover .sideBtnAddList {
    display: flex;
    flex-direction: column;
    animation: appear 360ms ease;
}

.sideItem:hover .sideItemText,
.sideProjectItem:hover .projectItemText {
    transform: translate(0.4em, 0.1em);
    color: var(--primary_color);
    font-weight: 500;
}

.sideItem:nth-child(4):hover {
    transform: translate(0);
}

.sideItem:hover .sideItemText::before {
    content: '//';
    display: inline-block;
}

.sideProjectItem:hover .projectItemText::before {
    content: '•';
    display: inline-block;
    margin-right: 0.2em;
}

/* =============================================== */
/* CONTENT SETUP  */
/* =============================================== */
.content {
    grid-column: 2 /3;
    grid-row: 2 / 3;

    font-size: 1rem;
    padding: 3em 4.6em;
    background-color: var(--white_color);
    /* margin-bottom: 0.8em; */

    overflow-y: auto;
}

/* =============================================== */
/* TO DO SECTION SETUP  */
/* =============================================== */
.todoWrapper {
    height: 100%;
    font-size: 1rem;

    display: none;
}

.todoWrapper.show {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(60px, 80px));
    grid-template-rows: repeat(auto-fit, 60px);
    gap: 1.6em;
}

.todoCard {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: max(20%, 60px);

    padding: 1em 2em;
    background-color: var(--light_gray_color);
    border-radius: 6px;
}

.todoCard,
.todoCard.done {
    transition-property: all;
    transition-duration: 160ms;
    transition-timing-function: ease;
}

.todoCard.importantLow {
    border-left: 6px solid var(--green_color);
}

.todoCard.importantMed {
    border-left: 6px solid var(--yellow_color);
}

.todoCard.importantHigh {
    border-left: 6px solid var(--red_color);
}

.todoCard:hover {
    box-shadow: var(--card_primary_box_shadow);
    transform: scale(1.01);
    background-color: var(--footer_bg_color);
}

.todoCard.done {
    filter: brightness(0.9);
}

.todoCard.done .tCardHeading,
.todoCard.done .tCardDate {
    text-decoration: line-through;
}

.todoCard.done:hover {
    box-shadow: var(--card_secondary_box_shadow);
    transform: scale(1.003);
}

.tCardLeft {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1.8em;
}

.tCardCheckBoxWrapper {
    cursor: pointer;
}

.tCardCheckBoxBlank,
.tCardCheckBoxCheck {
    display: none;
}

.tCardCheckBoxBlank.show {
    display: flex;
    color: var(--black_text);
}

.tCardCheckBoxCheck.show {
    display: flex;
    color: var(--green_color);
}

.tCardCheckBoxWrapper:hover .tCardCheckBoxBlank.show,
.tCardCheckBoxWrapper:hover .tCardCheckBoxCheck.show {
    color: var(--light_green_color);
}

.tCardHeading {
    font-size: 2rem;
    color: var(--black_text);
    cursor: default;
}

.tCardRight {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 2em;
}

.tCardDetailsWrapper {
    display: flex;
    align-items: center;

    font-size: 1rem;
    padding: 0.2em 0.4em;
    cursor: pointer;

    transition-property: all;
    transition-duration: 360ms;
    transition-timing-function: ease;
    color: var(--blue_color);
}

.tCardDetailsIcon {
    color: var(--blue_color);
    display: flex;
}

.tCardDetailsText,
.tCardDate {
    font-size: 1.8rem;
    color: var(--black_text);
    cursor: default;
}

.tCardDetailsText.hidden {
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    width: 0px;

    transition-property: all;
    transition-duration: 160ms;
    transition-timing-function: ease-in-out;
    color: var(--blue_color);
}

.tCardDetailsWrapper:hover {
    border: 2px solid var(--light_blue_color);
    border-radius: 4px;
    filter: brightness(1.06);
}

.tCardDetailsWrapper:hover .tCardDetailsText,
.tCardDetailsWrapper:hover .tCardDetailsIcon {
    filter: brightness(1.06);
    color: var(--light_blue_color);
    border-color: var(--light_blue_color);
}

.tCardDetailsWrapper:hover .tCardDetailsText.hidden {
    width: 100%;
}

.tCardDetailsWrapper:hover .tCardDetailsIcon {
    width: 0px;
}

.tCardDate {
    font-weight: 500;
}

.tCardEditWrapper,
.tCardEditWrapper > * {
    cursor: pointer;
}

.tCardEditWrapper:hover .tCardEditIcon {
    color: var(--green_color);
}

.tCardDeleteWrapper,
.tCardDeleteWrapper > * {
    cursor: pointer;
}

.tCardDeleteIconBlank,
.tCardDeleteIconFull {
    transition-property: all;
    transition-duration: 360ms;
    transition-timing-function: ease;
}

.tCardDeleteIconBlank,
.tCardDeleteIconFull {
}

.tCardDeleteIconBlank {
    color: var(--red_color);
}

.tCardDeleteIconFull {
    color: var(--light_red_color);
}

.tCardDeleteIconFull.hidden {
    width: 0;
    display: none;
}

.tCardDeleteWrapper:hover .tCardDeleteIconFull.hidden {
    width: 100%;
    display: flex;
}

.tCardDeleteWrapper:hover .tCardDeleteIconBlank {
    width: 0;
    display: none;
}

/* =============================================== */
/* NOTES SECTION SETUP  */
/* =============================================== */
.notesWrapper {
    display: none;
}

.notesWrapper.show {
    height: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.noteCard {
    max-height: 246px;
    font-size: 1rem;
    padding: 1.6em 2em;
    background-color: var(--light_gray_color);
    border-radius: 8px;

    transition-property: all;
    transition-duration: 260ms;
    transition-timing-function: ease-out;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.4em;
}

.noteCard:hover {
    box-shadow: var(--card_primary_box_shadow);
    transform: scale(1.006);
}

.noteCardHeaderWrapper {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6em;
}

.noteHeading {
    font-size: 2rem;
    color: var(--black_text);
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noteCardContentWrapper {
    width: 100%;
    overflow: hidden;
}

.noteCardContent {
    font-size: 1.66rem;
    color: var(--black_text);
    line-height: 1.7;
    /* white-space: pre-wrap; */
    /* white-space: pre-line; */
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.noteCardCloseBtnWrapper {
    font-size: 1rem;
    padding: 0.4em;
    cursor: pointer;
}

.noteCloseBtnIcon {
    height: 2rem;
    color: var(--black_text);
    cursor: pointer;

    transition-property: all;
    transition-duration: 360ms;
    transition-timing-function: ease;
}

.noteCardCloseBtnWrapper:hover .noteCloseBtnIcon {
    color: var(--red_color);
    transform: scale(1.2);
}

/* =============================================== */
/* FOOTER SETUP  */
/* =============================================== */
.footer {
    grid-row: 3 / 4;
    grid-column: 1 / 3;

    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    border-top: 1px solid var(--black_text);

    background-color: var(--footer_bg_color);
    transition-property: all;
    transition-duration: 360ms;
}

.footer:hover,
.footer:has(> *:hover) {
    background-color: var(--footer_bg_hover_color);
}

.usrName {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.footerIcon {
    height: 2.4rem;
}

.usrName,
.srcLink {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--black_text);

    transition-property: all;
    transition-duration: 660ms;
    transition-timing-function: ease;
}

.usrName:hover,
.srcLink:hover {
    font-weight: 600;
    transform: scale(1.14);
}

/* =============================================== */
/* MODAL SETUP  */
/* =============================================== */

/* =============================================== */
/* ADD EDIT MODAL SETUP  */
/* =============================================== */
.modalWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;

    background-color: var(--modal_blur_bg_color);
    backdrop-filter: blur(10px);

    display: none;
    animation: appear 100ms ease;
}

.modalWrapper.show {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: vanish 100ms ease;
}

.modal {
    position: relative;
}

.addEditItemModal {
    min-width: var(--add_edit_modal_min_width);
    max-width: 1000px;
    font-size: 1rem;
    padding: 2.6em 3.6em;
    background-color: var(--snow_white_color);
    border-radius: 12px;

    display: none;
}

.addEditItemModal.show {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.addEditModalHeading {
    margin-top: 0.36em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addEditModalHeadingAction {
}

.addEditModalHeading,
.addEditModalHeadingAction,
.addEditModalHeadingType {
    font-size: 5.6rem;
    color: var(--black_text);
    cursor: default;
}

.addEditModalHeadingType {
    margin-left: 0.2em;
    text-transform: capitalize;
}

.addEditModalBody {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 2.6em;
}

.addEditModalBodyTop {
    font-size: 1rem;
    margin-top: 1.6em;
    display: grid;
    grid-template-columns: 1.5fr 9fr;
}

.addEditModalBodyTop:has(.addEditModalDetailLabel.show) {
    grid-template-rows: 1fr 5fr;
}

.addEditModalTitleLabel,
.addEditModalDetailLabel,
.addEditModalTitleLabel span,
.addEditModalDetailLabel span,
.addEditModalTitleInp,
.addEditModalDetailInp,
.addEditModalDateInp,
.addEditModalDateLabel,
.addEditModalPriorityLabel {
    font-size: 2rem;
    color: var(--black_text);
}

.addEditModalTitleLabel,
.addEditModalDetailLabel,
.addEditModalTitleLabel span,
.addEditModalDetailLabel span {
    user-select: none;
    place-self: center start;
}

.addEditModalTitleLabel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.addEditModalTitleInp,
.addEditModalDetailInp {
    padding: 0.26em 0.6em;

    border: none;
    background-color: var(--snow_white_color);
    outline: none;
}

.addEditModalTitleInp::placeholder,
.addEditModalDetailInp::placeholder {
    color: var(--dark_gray_color);
    font-weight: 500;
}

.addEditModalTitleInp {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.addEditModalDetailLabel,
.addEditModalDetailInp {
    margin-top: 0.8em;
    display: none;
}

.addEditModalDetailLabel.show,
.addEditModalDetailInp.show {
    display: flex;
}

.addEditModalDetailLabel.show {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    align-self: start;
    position: relative;
    top: 0.26em;
}

.addEditModalDetailInp.show {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding-top: 0.26em;
    padding-left: 0.6em;
    min-height: var(--add_edit_modal_detail_inp_min_height);
    max-height: var(--add_edit_modal_detail_inp_max_height);
}

.addEditModalDetailInp.show::placeholder {
    position: absolute;
    top: 0.26em;
    left: 0.6em;
}

.addEditModalBodyBottom {
    display: none;
}

.addEditModalBodyBottom.show {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 9fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
}

.addEditModalDateLabel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    place-self: center start;
}

.addEditModalDateInp {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    place-self: center start;
    padding: 0.2em 0.6em;
    border: 1px solid var(--black_text);
    border-radius: 6px;
}

.addEditModalPriorityLabel {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    place-self: center start;
}

.addEditModalPriorityWrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6em;
}

.addEditModalPriorityBtn {
    font-size: 2rem;
    padding: 0.2em 0.8em;
    font-weight: 500;
    border-radius: 6px;
    outline: none;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.addEditModalPriorityBtn[value='low'] {
    color: var(--green_color);
    border: 2px solid var(--green_color);
}

.addEditModalPriorityBtn[value='low']:hover {
    color: var(--white_text);
    border: 2px solid var(--light_green_color);
    background-color: var(--light_green_color);
}

.addEditModalPriorityBtn[value='medium'] {
    color: var(--yellow_color);
    border: 2px solid var(--yellow_color);
}

.addEditModalPriorityBtn[value='medium']:hover {
    color: var(--white_text);
    border: 2px solid var(--light_yellow_color);
    background-color: var(--light_yellow_color);
}

.addEditModalPriorityBtn[value='high'] {
    color: var(--red_color);
    border: 2px solid var(--red_color);
}

.addEditModalPriorityBtn[value='high']:hover {
    color: var(--white_text);
    border: 2px solid var(--light_red_color);
    background-color: var(--light_red_color);
}

.addEditModalFooter {
    font-size: 1rem;
    margin-top: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addEditModalBtn,
.addEditModalBtnAction,
.addEditModalBtnType {
    font-size: 2.4rem;
    color: var(--black_text);
    font-weight: 700;
}

.addEditModalBtn {
    padding: 0.4em 1.2em;
    border-radius: 8px;
    outline: none;
    border-color: transparent;
    cursor: pointer;

    background-color: var(--primary_color);
}

.addEditModalBtn:hover,
.addEditModalBtn:hover > * {
    color: var(--white_text);
    background-color: var(--light_primary_color);
}

.addEditModalBtnType {
    display: none;
}

.addEditItemModal.show[data-action='add'] .addEditModalBtnType {
    display: inline-block;
}

.modalCloseWrapper {
    font-size: 1rem;
    position: absolute;
    top: 1.8em;
    right: 1.8em;
    padding: 0.4em;

    cursor: pointer;
}

.modalCloseIcon {
    color: var(--dark_red_color);
    transition: all 360ms ease;
}

.modalCloseWrapper:hover .modalCloseIcon {
    color: var(--red_color);
    transform: scale(1.26);
}

/* =============================================== */
/* DETAILS MODAL SETUP  */
/* =============================================== */

.detailModal {
    display: none;
}

.detailModal.show {
    font-size: 1rem;
    min-width: var(--detail_modal_min_width);
    max-width: var(--detail_modal_max_width);
    padding: 2.6em 3.6em;
    background-color: var(--snow_white_color);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 4.6em;
}

.detailModalHeading {
    font-size: 3.6rem;
    margin: 0 auto;
}

.detailModalContentWrapper {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 2.6em;

    width: 100%;
    overflow: hidden;
}

.detailModalContentHeading,
.detailModalContent {
    font-size: 2.6rem;
    color: var(--black_text);
}

.detailModalContentHeading {
}

.detailModalContent {
    text-align: justify;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.modalWrapper.show .modal {
    animation: zoomInAppear 360ms ease;
}

.modalWrapper .modal {
    animation: zoomInDisappear 360ms ease;
}
